@import url("footer.css");

.orange {
  color: #f15412;
}
.intro-about {
  background-color: rgb(235, 235, 235);
  font-size: 0.8rem;
}
.linkHome {
  text-decoration: none;
}
.para-company {
  font-size: 0.8rem;
}
.title-about {
  font-size: 0.8rem;
}
.card-body {
  font-size: 0.8rem;
}
.title-adobe {
  color: #b9bdc6;
  font-size: 0.8rem;
}
.card-title {
  font-size: 0.9rem;
}
.card {
  box-shadow: 0px 0px 8px -3px #000000;
  transition: transform 1s;
}
.card:hover {
  border: 1px solid #f15412;
  transform: translateY(-10px);
}
.btn-about {
  border: none;
  background-color: #f15412;
  color: white;
  padding: 12px 20px;
  font-size: 0.8rem;
  transition: transform 1s;
}
.btn-about:hover {
  transform: translateY(-10px);
}
.img-avatar {
  border: 1px solid rgb(212, 211, 211);
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .img-avatar {
    margin-bottom: 12px;
  }
}
@media screen and (max-width: 434px) {
  .bg-language {
    display: none !important;
  }
}
